* {
  box-sizing: border-box;
}

body{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  overflow: hidden;  /* 不然打开的窗口会有垂直和水平滚动条 */
}

li {
  list-style: none;
}

#button-area{
  width: 100%;
  height: 44px;
  background-color: #45b795;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  cursor: pointer;
  font-weight: 200;
}
#button-area:hover{
  background-color: #64DFBA;
}
#hint{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10000;
  
  padding: 26px 32px;;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#hint:hover{
  background: #E9E9E9;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
}
#hint img{
  width: 78px;
}
#text{
  font-size: 14px;
  text-align: center;
  margin-top: 28px;
}
.main-title{
  font-size: 18px;
  color: #373737;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondary-title{
  font-size: 12px;
  color: #676767;
  margin-top: 8px;
  margin-bottom: 0px;
}
.click-here-to-select-file{
  cursor: pointer;
  text-decoration: underline;
  margin-left: 10px;
}
#selected-file-area{
  height: 100vh;
  padding: 26px 10%;
  /* border-radius: 1px; */
  /* border: 1px solid black; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}
.file-box{
  min-height: 78px;
  width: 100%;
  margin-bottom: 20px;
  background: red;
  border-radius: 2px;
	background-color: #efefef;
  border: solid 1px #d3d3d3;
  display: flex;
  align-items: center;
  position: relative;
}

.file-box.waiting {
  background-color: #efefef;
}
.file-box.padding {
  background-color: #fff4a2;
}
.file-box.success {
  background-color: #cfffde;
}
.file-box.error {
  background-color: #ffaebd;
}

.file-action .file-btn{
  /* position: absolute; */
  right: 12px;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  background: #e3e3e3;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s all ease-out;
}
.file-btn:hover{
  background: #ADADAD;
}
.file-btn img{
  height: 14px;
}

.file-info{
  margin-left: 18px;
  display:flex;
  min-height:48px;

  width: 90%;
}
.file-name{
  font-size:14px; 
  word-break: break-all;
}
.file-size{
  font-size:12px;
}
.file-info-right{
  padding-left:12px; 
  padding-right:12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #708a9f;
}

.dropzone-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

#dropzone {
  height: 100vh;
  /* width: 695px; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  overflow: hidden;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: transparent;
  /* font-size: 40px; */
  /* text-shadow: 1px 1px 0.08px rgba(0, 0, 0, 0.1); */
  cursor: pointer;
}

@keyframes move-top {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 10px 0px;
  }
}
@keyframes move-bottom {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -10px 0px;
  }
}
@keyframes move-left {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px -10px;
  }
}
@keyframes move-right {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px 10px;
  }
}
.animate .leftright:after {
  animation: move-left 1s linear infinite;
}
.animate .leftright:before {
  animation: move-right 1s linear infinite;
}
.animate .leftright:after, .animate .leftright:before {
  background-image: linear-gradient(to top, #0079b8 70%, rgba(255, 255, 255, 0) 0%);
}
.animate .topbottom:after {
  animation: move-top 1s linear infinite;
}
.animate .topbottom:before {
  animation: move-bottom 1s linear infinite;
}
.animate .topbottom:after, .animate .topbottom:before {
  background-image: linear-gradient(to right, #0079b8 70%, rgba(255, 255, 255, 0) 0%);
}

.topbottom,
.leftright {
  position: absolute;
  width: 100%;
  height: 100%;
}

.leftright:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 2px;
  height: 100%;
  width: 2px;
  background-image: linear-gradient(to top, #7f7f7f 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 2px 11px;
  background-repeat: repeat-y;
  /*background-color:red;*/
}

.leftright:before {
  content: ' ';
  position: absolute;
  /* bottom: 0; */
  top: 0;
  right: 0px;
  height: 100%;
  width: 2px;
  /* background-color: #f00; */
  background-image: linear-gradient(to top, #7f7f7f 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 2px 11px;
  background-repeat: repeat-y;
  /*background-color:red;*/
}

.topbottom:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background-image: linear-gradient(to right, #7f7f7f 71%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 11px 2px;
  background-repeat: repeat-x;
  /* background-color:red; */
}

.topbottom:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background-image: linear-gradient(to right, #7f7f7f 71%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 11px 2px;
  background-repeat: repeat-x;
  /* background-color:red; */
}

.translate-setting {
  font-size: 16px;
  margin-bottom: 15px;
}
.translate-setting select {
  font-size: 14px;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  width: 150px;
}

button {
  height: 30px;
  background-color: #45b795;
  color: white;
  font-size: 14px;
  cursor: pointer;
  font-weight: 200;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
}

/* 编辑页面 */
.editing-wrap {
  padding: 25px;
  height: 100vh;
  overflow: auto;
}
.editing-wrap .header {
  margin-bottom: 25px;
}
.editing-wrap button {
}

.editing-main .edit-item {
  border: 1px solid #eee;
  margin-bottom: 15px;
}
.editing-main .compare {
  
}
.editing-main .edit-item .top {
  font-size: 13px;
  height: 25px;
  line-height: 25px;
  border-bottom: 1px solid #eee;
  padding-left: 25px;
}
.compare-item:first-of-type {
  border-bottom: 1px solid #eee;
}
.compare-item {
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.compare-item .item-left {
  width: 80px;
}

.editing-main .compare-item .translateSingle {
  width: 100px;
  height: 30px;
  background-color: #45b795;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  position: relative;
}

.translateSingle-index {
  display: inline-block;
  width: 70px;
}

.dropdown {
  display: inline-flex;
  width: 20px;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-left: 1px solid hsla(0,0%,100%,.3);
  vertical-align: top;
}

.editing-main .compare-item .translateSingle .dropdown i{
  width: 0;
  height: 0;
  border: 4px solid #ccc;
  border-color: #fff #45b795;
  border-width: 4px 4px 0 4px;
}

.translateSingle-api {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ebebeb;
  position: absolute;
  padding:0;
  margin: 0;
  top: 100%;
}

.translateSingle-api-list {
  color: #45b795;
}

.translateSingle-api-list:hover {
  background-color: #45b795;
  color: #fff;
}

.editing-main .edit-item span {
  display: inline-block;
  width: 30px;
  text-align: right;
  font-size: 12px;
}
.editing-main .edit-item .item-left-lang {
  width: 60px;
  background: #0079b8;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  height: 20px;
  line-height: 20px;
}

.editing-main .compare-item:last-of-type span, .editing-main .compare-item:last-of-type label {
  position: relative;
  top: -16px;
}
.editing-main .edit-item .text {
  display: inline-block;
  line-height: 25px;
  padding: 10px 0;
  flex: 1;
  white-space: pre-line;
}
.editing-main .edit-item input, .editing-main .edit-item textarea {
  border: 1px solid #bbb;
  border-radius: 5px;
  /* height: 35px; */
  padding: 0 5px;
  width: 100%;
}
.editing-main .edit-item textarea {
  padding-top: 10px;
  padding-bottom: 10px;
}